<!-- <ul>
  <li *ngFor="let student of students$">{{student.id}}--{{student.name}}-{{student.no}}</li>
</ul> -->

<!-- <ul>
  <li *ngFor="let theStudent of studentList" (click)="clickstudent(theStudent)">
    {{theStudent.id}}--{{theStudent.name}}-{{theStudent.no}}-{{theStudent.class.name}}
  </li>
</ul> -->

<!-- <div *ngIf="templetView">
  <div [ngSwitch]="storeName">
    <ng-template [ngSwitchCase]="'student'">
      {{listValue.id}}/{{listValue.name}}/{{listValue.no}}/{{listValue.class.name}}
    </ng-template>
  </div>
</div> -->
